.git
.gitignore
Makefile
docker-compose.yaml
docker-compose.yaml.bak
.dockerignore
kubernetes/
scripts/
README.md
evidence/
*_test.go
vendor/
.DS_Store
.vscode/
.idea/
*.log
mongodb.key
go1.25.1.linux-amd64.tar.gz
cmd/
internal/
docs/
go.mod
go.sum
